p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.inline-figure {
border: none;
}

img.cover {
float: right;
margin: 0 0 2rem 2rem;
box-shadow: none;
}

.sidebar li.book-part {
margin-top: 1rem;
text-transform: uppercase;
font-weight: 700;
}