p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.inline-figure {
border: none;
}

img.cover {
float: right;
margin: 0 0 2rem 2rem;
filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.sidebar li.book-part {
margin-top: 1rem;
text-transform: uppercase;
font-weight: 700;
}