@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "IBM Plex Sans", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  font-family: "IBM Plex Mono", mono;
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.inline-figure {
border: none;
}

img.cover {
float: right;
margin: 0 0 2rem 2rem;
box-shadow: none;
}

.sidebar li.book-part {
margin-top: 1rem;
text-transform: uppercase;
font-weight: 700;
}